#start {
	height:90px;
    width:115px;
	margin-top:60px;
}

#exit {
	width:95px;
	height:80px;
	border-radius:25px;
}

#frameGame {
	color:red;
	font-size:20px;
	background-color:black;
	margin:center;
	height:20px;
	width:270px;
	margin:auto;
	text-align:center;
}

.challenge {
    display:in-block-line;
	margin-left:400px;
	cursor:pointer;
}

table, td {
	border: 1px black solid;
	border-radius:25px;
	margin-left:7px;
	margin-top:10px;
}

.highlighted {
    -webkit-box-shadow: 0 0 15px red;
    -moz-box-shadow: 0 0 15px red;
    box-shadow: 0 0 15px red;
    cursor:pointer;
}

a {
    text-decoration:none;
}

form {
    margin-left:710px;
    display: inline-block;
	margin-top:-20px;
	width:800px;
	
}

h2 {
    border:1px dashed white;
    font-family:Arial;
	font-size:20px;
    display: inline-block;
    margin-left:690px;
    font-family:arial;
	color:red;
	border-radius:10px;
}

#listUserChoice option{ 
    font-family:Verdana
    font-size:25px;
	width: 350px;
}

.challenge {
	display:none;
}

img {
	position:relative;
}

